@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.header {

    background: linear-gradient(to right, #050212, #31384a, #5a7c6f);
    color: white;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: auto;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-container img {
    height: 4rem;
    width: 4rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-header nav ul li {
    list-style: none;
    margin: 0;
    padding: 0;

}

.menu-header nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-header img {
    margin-left: 50px;
    align-items: center;
}

.menu-header {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    position: relative;
}

.segundo-menu {
    margin-top: -15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #31384a;
    height: 60px;

}

.segundo-menu-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.segundo-menu-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20px;
    height: 100%;
}

.segundo-menu-nav li {
    flex: 1;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 0;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.segundo-menu-nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 20px;
    transition: background-color 0.3s;
}

.segundo-menu-nav a:hover::after {
    content: "";
    position: absolute;
    width: 5%;
    border-bottom: #ffd700 solid 3px;
    display: block;


}

@keyframes slide{
    0% {transform: translatex(0);}
    33% {transform: translatex(-100%);}
    66% {transform: translatex(-200%);}
    100% {transform: translatex(-300);}
}
footer {
    background: linear-gradient(to right,  #050212, #31384a, #5a7c6f);
    color: white;
    padding: 40px 20px;
}

.area-aluguel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.map-aluguel img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.aluguel-cliente {
  max-width: 400px;
  margin-top: 20px;
  text-align: center;
  position: absolute;
}

.aluguel-cliente h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #333;
}

.categorias-aluguel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.categoria {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
}

.categoria.premium { background-color: #b8860b; } /* dourado */
.categoria.padrao { background-color: #1e90ff; } /* azul médio */
.categoria.basico  { background-color: #32cd32; } /* verde limão */
.categoria.casa    { background-color: #8b4513; } /* marrom */

.categoria:hover {
  opacity: 0.9;
  transform: scale(1.05);
}
